{% extends "home.html" %}

{% block notes_container %}
<main class="container">
    <hr>

    <section class="container-fluid">
        <form method="post" action="http://localhost:8000/note/all/" enctype="multipart/form-data">
            <div class="col-auto">
                <div class="input-group mb-3">
                    <input aria-describedby="button-addon2" aria-label="Add a note" class="form-control" name="title"
                           placeholder="Your new note name" type="text" value="{{ title }}"/>
                </div>
                <div class="input-group mb-3">
                    <textarea aria-describedby="button-addon2" aria-label="Add a note" class="form-control" name="content"
                              placeholder="Your new note content" rows="5" value="{{ content }}">
                    </textarea>
                </div>
                <div class="input-group mb-3">
                    <input aria-describedby="button-addon2" aria-label="Add a note" class="form-control" name="source_type"
                           placeholder="Your new note type of source" type="text"
                           value="{{ source_type }}"/>
                    <input aria-describedby="button-addon2" aria-label="Add a note" class="form-control" name="source_link"
                           placeholder="Your new note source" type="text"
                           value="{{ source_link }}"/>
                    <input aria-describedby="button-addon2" aria-label="Add a note" class="form-control" name="files"
                           placeholder="Your new note files" type="file"
                           multiple/>
                </div>
                <button class="btn btn-outline-primary" data-mdb-ripple-color="dark" id="button-addon2"
                            type="submit">
                        Add Note
                </button>
            </div>
        </form>
    </section>


    {% if note %}
    <article class="card container-fluid">
        <br/>
        <h4>Note Name: {{ note.title }} </h4>
        <p>
            <strong>
                Description: {{ note.content }}
            </strong>
        </p>
        <p>
            Source_ link: {{ note.source_link }}
        </p>
        <p>
            <h4>{{ note['title'] }} - Files</h4>
            <ul>
                {% for file in note['files'] %}
                <li><a href="/note/downloads/{{ file.filename }}">{{ file.filename }}</a></li>
                {% endfor %}
            </ul>
        </p>
        <a href="/note/all"> Home
    </article>
    {% else %}
    <section class="container-fluid">
        <h2 align="center">Notes</h2>
        <br>
        <div class="card">
            <ul class="list-group list-group-flush">
                {% for note in notes %}
                <li class="list-group-item">
                    {{ loop.index }}. <a href="/note/{{ note.title }}"> {{ note.title }}: "{{ note.content }}" </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </section>
</main>
{% endblock %}